*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .hero{
     height: 100vh; 
     width: 100%;
     background-image: url(https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg);
     background-size: cover;
     background-position: center;
 }
 .logo{
     color: white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
 }
 span{
     color: #dd9a0ad5;
 }
 .nav{ 
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 45px;
     padding-left: 8%;
     padding-right: 8%;
 }
 
 ul li{
     display: inline-block;
     padding: 10px 30px;
 }
 
 ul li a{
     color: white;
     text-decoration: none;
     padding: 10px 40px;
     border-radius: 20px 10px ;
     font-size: 20px;
 }
 ul li a:hover{
     color: white;
     background-color: #dd9a0ad5;
 }
 .btn{
     background-color: #dd9a0ad5;
     color: white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: bold;
     padding: 10px 25px;
     border-radius: 30px;
     transition: transform .6s;
 }
 .btn:hover{
     transform: scale(1.1);
 }
 .content{
     position: absolute;
     top: 50%;
     left: 8%;
 }
 h1{
     color: #ffaf04d5;
     margin: 20px 0 20px;
     font-size: 70px;
 }
 h3{
     color: grey;
     font-size: 25px;
     margin-bottom: 50px;
     margin-left: 100px;
 }
 h4{
     color: rgb(209, 202, 202);
     font-size: 20px;
     letter-spacing: 2px;
 }
 .newsletter form{
     width: 400px;
     max-width: 100%;
     position: relative;
     display: inline-block;
 }
 .newsletter form input:first-child {
   width: 100%;
   display: inline-block;
   padding: 14px 130px 14px 15px;
   border: 2px solid #dd9a0ad5;
   border-radius: 30px;
 }
 .newsletter form input:last-child {
     position: absolute;
     display: inline-block;
     border: none;
     border-radius: 30px;
     padding: 10px 30px;
     background-color: #dd9a0ad5;
     color: white;
     top: 6px;
     right: 6px;
 }

 body{
    font-family: 'Baloo Bhai 2', cursive;
 }

 .share{
     display: inline-block;
     margin-left: 200px;    
     
 }

 .share img{
     height: 35px;
     margin-left: 15px;
 }
.share span {
    padding-bottom: 10px;
    display: inline;
}
